CORS_ORIGIN=http://localhost:3000
PORT=5000
PRINTER_NAME=POSPrinter POS58
SUMATRA_PATH=C:\Users\DELL\AppData\Local\SumatraPDF\SumatraPDF.exe
SUMATRA_PRINT_SETTINGS=noscale
CENTER_HEADER=1
LEFT_MARGIN_SPACES=0
# USE_ESC_POS=0
